doctype html
-var specialBulletin;
html
    head
        meta(charset='utf8')
        title helpme
        h1
            a(href='/timeline/') TimeLine
    body
        fieldset
            -if (timeline.length === 0)
                h1 Empty!
            -else 
                each bulletin in timeline
                    //-console.log(id)
                    -if (id)
                        -if (bulletin.rid === id)
                            -specialBulletin = bulletin
                    li
                        a(href='/timeline/timeline_helpyou/' + bulletin.rid)= bulletin.title
        if (id)
            fieldset
                artcle
                    h1= specialBulletin.title
                    hr
                    h4= specialBulletin.user_email
                    h4= specialBulletin.content
                    h4= '상세 사항: ' + specialBulletin.detailInfo
                    h4= '예상금액: '+ specialBulletin.expectedPrice + '원'
                    h4= '배달비: ' + specialBulletin.fee + '원'
                    h4= '기한: ' + specialBulletin.deadline
                    h3
                        a(href='/timeline/delete/' + specialBulletin.rid + '/' + 'N') Delete
                    h3
                        a(href='/timeline/update/' + specialBulletin.rid + '/' + 'N') Update
        a(href='/timeline/new_request') 글 작성 하기
